bin/*
bin/Debug/
bin/Release/
obj/
logs/
.vs/
Properties/PublishProfiles/*
*.suo
keys/*
_site/
articles/
index.md
toc.yml
log.txt
docfx.json
keys/*.xml
lib/smsapi/docs/icons/logo.jpg
lib/smsapi/Properties/Resources.resx
appsettings.json
libman.json
